<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonyme Discord Messager</title>

    <style>
        body {
            background-color: #212529;
        }

        .container {
            text-align: center;
            margin-top: 10em;
        }
        h1 {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Anonyme Discord Messager</h1>
        <form action="/post">
            <textarea name="message" id="message" cols="60" rows="20" placeholder="Enter your message here. (max 2000 characters)"></textarea>
            <br><input type="submit">
        </form>
    </div>
</body>
</html>